@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .inpustyle {
        @apply outline-[#ff4D41] border-gray-400 border rounded-[5px] px-4 py-2 w-[100%]
    }
}

@keyframes vibrate {
    0%, 100% { transform: translate(0); }
    10% { transform: translate(-2px, 0); }
    20% { transform: translate(2px, 0); }
    30% { transform: translate(-2px, 0); }
    40% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    60% { transform: translate(2px, 0); }
    70% { transform: translate(-2px, 0); }
    80% { transform: translate(2px, 0); }
    90% { transform: translate(-2px, 0); }
  }
  
  .animate-vibrate {
    animation: vibrate 0.3s ease forwards;
  }
  
  .scale-110 {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }
  
  
  